* General Reset and Global Styles */ * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Flexbox layout to ensure the footer stays at the bottom */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Main content styling */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 80px; /* Increased padding to accommodate the navbar height */
}

/* Form container styling */
.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #8a2be2;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  background-size: 200% 200%; /* Set for gradient animations */
}

button:hover {
  color: #fff; /* Change text to white */
  border-radius: 24px;
  padding: 15px 15px;
  box-shadow: 0 2px 12px rgba(29, 74, 187, 0.5); /* Add shadow */
  transform: scale(1); /* Slight scale up on hover */
  background-image: linear-gradient(145deg, #2b43e2, #bb1d96, #8a2be2);
}