/* Admin Dashboard Styling */
.admin-container {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
  }
  
  thead {
    background-color: #c5c5c5;
    color: white;
  }
  
  th,
  td {
    padding: 12px;
    border: 0px solid #ddd;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr.accepted{
    background-color: rgb(46, 46, 149);

  }
  tbody tr.rejected{
    background-color: rgb(154, 29, 29);


  }

  tbody tr.rejected:hover{
    background-color: rgb(178, 48, 48);
  }

  tbody tr.accepted:hover{
    background-color: rgb(63, 63, 164);
  }



  tbody tr.pending td{
    color: black;
  }
  tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.2s ease;
  }
  
  td {
    color: rgb(198, 181, 181);
  }
  
  p {
    text-align: center;
    font-size: 18px;
    color: #666;
  }
  
  #select-role {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 37px;
    margin-bottom: 0;
  }
  
  .control-td {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
  }
  
  .delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c9302c;
}

  
  
  
  