/* AddUser.css */

.add-user-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .add-user-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  .add-user-container {
    
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 15px;
  }
  
  .error-message {
    position: relative!important;
    font-size: medium;
    color: red;
    margin-bottom: 30px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
}